<<<<<<< HEAD

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : News Beat
Description: A fixed-width design suitable for small sites and blogs.
Version    : 1.0
Released   : 20071215

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Women in Technology</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>


<div id="latest-post" class="post">
	<p class="byline"><span>Posted on April 21st, 2013 by <a href="#">Alison Ross</a></span></p>
	<h1 class="title"><a href="#">About This Site</a></h1>
	<div class="entry"><img src="assets/images/mwit_logo.jpg" alt="" width="200" height="100" class="left" />
		<p>This site is moderated by the computer science department at Mills College, Oakland. Its purpose is to share information that is useful for women pursuing a career in technology. While primarily for the women at Mills, we hope that this resource will prove useful for all women seeking to make a mark in the business of computing.</p>
		<p>Information posted can be accessed by anyone, but you must sign up to comment or post.</p>
		
	</div>
	<p class="meta"><a href="#" class="comments">14 Comments</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Permalink</a></p>
</div>
<div id="recent-posts">
	<h2><%= link_to "Recent Posts", posts_path %></h2>
	<ul>
		<li class="first">
			<h3>Title post 1</h3>
			<p><strong>[Dec. 05]</strong> Nullam  ante orci, eget, tempus quis, ultrices in, est. Curabitur sit amet  nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel,  suscipit sit amet  nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel,  suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque  imperdiet lorem dolor. <a href="#">More…</a></p>
		</li>
		<li>
			<h3>Title post 2</h3>
			<p><strong>[Dec. 01]</strong> Donec  leo, vivamus fermentum nibh in augue praesent a lacus at urna congue  rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum  id, congue, and nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.  Vestibulum imperdiet, magna nec imperdiet, magna nec imperdiet, magna nec ipsum dolor eleifend. <a href="#">More…</a></p>
		</li>
		<li>
			<h3>Title Post 3</h3>
			<p><strong>[Nov. 28]</strong> Donec  leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue  rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh.  Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.  Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum  velit, euismod lacinia quam nisl id lorem. <a href="#">More…</a></p>
		</li>
	</ul>
	<div style="clear: both; height: 40px;">&nbsp;</div>
</div>
<div id="sidebar">
	<ul>
		<li id="search">
			<h2>Search</h2>
			<form id="searchform" method="get" action="">
				<div>
					<input type="text" name="s" id="s" size="15" />
					<br />
					<input name="submit" type="submit" value="Search" />
				</div>
			</form>
		</li>
		<li id="calendar">
			<h2>Calendar - INACTIVE</h2>
			<div id="calendar_wrap">
				<table summary="Calendar">
					<caption>
					November 2007
					</caption>
					<thead>
						<tr>
							<th abbr="Monday" scope="col" title="Monday">M</th>
							<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
							<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
							<th abbr="Thursday" scope="col" title="Thursday">T</th>
							<th abbr="Friday" scope="col" title="Friday">F</th>
							<th abbr="Saturday" scope="col" title="Saturday">S</th>
							<th abbr="Sunday" scope="col" title="Sunday">S</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td abbr="October" colspan="3" id="prev"><a href="#" title="View posts for October 2007">&laquo; Oct</a></td>
							<td class="pad">&nbsp;</td>
							<td abbr="December" colspan="3" id="next"><a href="3" title="View posts for October 2007">Dec &raquo;</a></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td colspan="3" class="pad">&nbsp;</td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
							<td>10</td>
							<td>11</td>
						</tr>
						<tr>
							<td><a href="#">12</a></td>
							<td>13</td>
							<td>14</td>
							<td>15</td>
							<td>16</td>
							<td>17</td>
							<td>18</td>
						</tr>
						<tr>
							<td>19</td>
							<td>20</td>
							<td>21</td>
							<td>22</td>
							<td>23</td>
							<td id="today">24</td>
							<td>25</td>
						</tr>
						<tr>
							<td>26</td>
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td class="pad" colspan="2">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</li>
		<li id="categories-1">
			<h2>Categories</h2>
			<ul>
				<li><a href="#" title="View all posts filed under Uncategorized">Uncategorized</a> (3) </li>
				<li><a href="#" title="View all posts filed under Lorem Ipsum">Jobs</a> (42) </li>
				<li><a href="#" title="View all posts filed under Urna Congue Rutrum">Internships</a> (28) </li>
				<li><a href="#" title="View all posts filed under Augue Praesent">Scholarships</a> (55) </li>
				<li><a href="#" title="View all posts filed under Vivamus Fermentum">Events</a> (13) </li>
			</ul>
		</li>
	</ul>
	<div style="clear: both; height: 40px;">&nbsp;</div>
</div>
<hr />
<div id="footer">
	<p class="legal">&copy;2007 All Rights Reserved.</p>
	<p class="credit">Designed by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
</div>
</body>
</html>
